
body{
    margin: 0;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #b7b6b629;
    background-image: 
        linear-gradient(90deg, transparent 5%, rgba(0, 0, 0, 0.1) 5%, rgba(22, 18, 18, 0.1) 10%, transparent 10%),

        linear-gradient(0deg, transparent 5%, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.1) 10%, transparent 10%);
    background-size: 20px 20px; 
    & nav{
        
    
        & ul{
            display: flex;
            justify-content: space-around;
           
            & li{
                margin: 0 10px;
                list-style-type: none;

                & a{
                    text-decoration: none ;
                    font-size: 24px;
                    color: rgb(38, 74, 118);;
                    
                } 
            }
        }
    }
    button{
        color: rgb(38, 74, 118);
        font-size: 18px;
        font-weight: 500;
        border: none;
        background: repeating-linear-gradient(45deg, #9dcde3c8, 
        #82b2babd 5px, #c4eaf964 5px, #8cb9cb8c 10px);
        border-radius: 12px;
    }
}

main{
    /* მთავარი გვერდი - სათაური */
    padding: 0 150px;
    background-color: #ff0505b6;
   & .mainSection{
    padding: 20px;
        background: linear-gradient(90deg, rgba(54, 95, 95, 0.519) 9%, rgba(36, 72, 116, 0.771) 100%), url("./images/main-Background.png") ;
        background-size: cover;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(8, 1fr);
            
        & h1{
                color: #fff;
                font-size: 50px;
                letter-spacing: 0.12cap; 
          
            }
            .track {
                grid-area: 1 / 4;
              }
              
              .your {
                grid-area: 2 / 5 / 3 / 6;
              }
              
              .progress {
                grid-area: 3 / 6 / 4 / 7;
              }
           
    }


    /* სექცია სადაც ვნახულობთ შედეგებს კალენდრის მიხედვით */
& .controlProgressSection{
    background-color: #82b2babd;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    & >div{
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }

    & h1{
        color: #fff;
        font-size: 34px;
        font-weight: 700;
    }

    & button{
        border: none;
        padding: 10px;
        border-radius: 6px;
        background-color: #477982e2;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
}



/* აქ ვამატებთ ექთივითებს */
& .activitySection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  
    /* background-color: #577b8959; */
  


    & .MealPlan{
        background-color: #345a698c;
    }
    & .DailyPlan{
        background-color: #0232448c;
    }

    & > div{
       min-height: 400px;

        
    }

    & .add{
        border: none;
        padding: 10px;
        border-radius: 6px;
        background-color: #477982e2;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
    }



    & .phisicalActivity{
       
        & .submittedActivitySection,
        & .doneActivities{
            background-color: #FFFEC4; 
          
       & .mainSubmition{   
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 15px;
        border-bottom: solid gray 1px;
        

                & .checkDiv{
                    display: flex;
                    border-bottom:  solid #023244e5 1px;
                    align-items: flex-end;
                   
               
                    & .formactivity{
                        display: inline;
                        width: 100%;
/
                    & input[type="checkbox"]{
                        color: #023244e5;
                        margin: 10px;
                    }
                }
                  & .activityName {
                        color: #023244e5;
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        margin: 0 10px ;

                    }
                }
              
      
                & .middiv {
                    width: 200px;
                    height: 1px;
                    border: solid #023244e5 1px;
                    border-style: dotted
                }

                        & .reps{
                         display: flex;
                            
                            & .minDiv,
                            & .qtyDiv{
                                /* border-radius: 15px; */
                                margin: 0 10px; 
                                /* padding: 10px; */
                                font-size: 24px;
                                font-weight: 600;
                                /* border: solid #023244e5 1px; */
                                border-bottom:  solid #023244e5 1px;
                               
                            }
                                           
                }
            }
            & .Headername {
                color: #fd5214;;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
                margin: 0 10px ;

            }
        }
   

& .addPhisicalActivity{

    padding: 20px;
    border-radius: 12px;
    background-color: rgb(243, 243, 188);
    display: flex;
    justify-content: center;

            & label,
            & input,
            & select,
            & option
            {
           padding: 10px;
           margin: 10px;
           border-radius: 12px;
           border: none;
           background-color: beige;
           color: #023244e5;
           font-weight: 700;
           border:solid #fd7e14 1px;
           width: 100%;
           
            }

            & label{
                background-color:   #fd7e14;
            }

            & form{
                background-color: #FFF8E3;
                border-radius: 12px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                & .WarningDiv{
                    display: none;
                    align-items: center;
                    

                    & .warningImg{
                        width:20px;
                        margin-right: 5px;
                    

                    }
                    & .warningMsg{
                        color: #fc0808;
                        font-weight: 700;
                        margin: 0;

                    }

                }
            
            }

          
    }
  
& .progressinPerCent{
    background-color: #fd7e14;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;

}



/* & .mainSubmition{

} */





}
}
@media (max-width: 420px) {
    header{
        display: flex
    }
    .activitySection {
        grid-template-columns: repeat(1, 1fr); /* Makes it a single column layout */
    }
}

}







  
  